body {
  font-family: "Roboto", sans-serif;
}
.section_1 {
  padding: 36px 60px 60px;
  background-color: #1f2937;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1110px;
  margin: auto;
}
.header {
  display: flex;
  gap: 45px;
  justify-content: space-between;
}
.header h1 {
  font-size: 24px;
  color: #f9faf8;
}
.header ul {
  display: flex;
  gap: 32px;
}
.header a {
  color: #e5e7eb;
  font-size: 18px;
}
.landing {
  display: flex;
  min-height: 250px;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}
.landing .info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}
.landing h1 {
  line-height: 1.1;
  font-size: 48px;
  font-weight: 600;
  color: #f9faf8;
}
.landing p {
  color: #e5e7eb;
  font-size: 18px;
}
.landing button {
  background-color: #3882f6;
  padding: 5px 20px;
  border: none;
  color: #e5e7eb;
  font-weight: 600;
  width: 170px;
  height: 40px;
  border-radius: 8px;
}
.img {
  background: url(imgs/sky.gif	);
  align-self: stretch;
  border-radius: 8px;
  flex: 1;
  background-size: cover;
}
.section_2 {
  padding: 36px 60px 60px;
  text-align: center;
}
.section_2 h1 {
  font-size: 36px;
  font-weight: 600;
  color: #1f2937;
}
.section_2 .child {
  border-radius: 8px;
  height: 140px;
  width: 140px;
}
.section_2 .box {
  color: #010048;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.section_2 .boxs {
  display: flex;
  gap: 36px;
}
.section_3 em {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
}
.section_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 7em 13em;
}
.section_3 p {
  align-self: flex-end;
  font-weight: bolder;
  font-size: 24px;
  color: #1f2937;
}
.section_4 {
  padding: 5em 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big_box {
  border-radius: 10px;
  padding: 3em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #3882f6;
}
.big_box button {
  border-radius: 6px;
  border: 2px solid white;
  color: #e5e7eb;
  font-size: 18px;
  padding: 7px 1em;
  width: 120px;
  background-color: #3882f6;
}
strong {
  font-size: 24px;
}
.big_box p {
  color: #e5e7eb;
  font-size: 18px;
}
.footer {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  padding:  2em 0;
}
