:root {
  --bgcolor: #081c13;
  --text: #ebf9f3;
  --text-white: #081c13;
  --primary: #61d1a2;
  --secondary: #113b2a;
  --secondary-white: #ebf9f3;
  --accent: #4dcb97;
  --accent-white: #1d6245;
  --fontSize-1: 1rem;
  --fontSize-2: 1.125rem;
  --fontSize-3: 1.75rem;
  --fontSize-4: 2rem;
  --fontSize-5: 2.25rem;
  --fontWeight-0: 200;
  --fontWeight-1: 400;
  --fontWeight-2: 600;
  --space-1: 16px;
  --space-2: 36px;
  --space-3: 45px;
  --space-4: 60px;
  --space-5: 181px;
  --space-6: 200px;
}

body {
  font-family: "Roboto", sans-serif;
}
button {
  width: 170px;
  height: 40px;
  border-radius: 8px;
}
.wrapper {
  max-width: 1110px;
  margin: auto;
}
.section {
  display: flex;
  flex-direction: column;
}
.section_1 {
  padding-block: var(--space-2) var(--space-4);
  padding-inline: clamp(var(--space-1), 5vw, 181px);
  background-color: var(--bgcolor);
}
.wrapper {
  gap: var(--space-4);
}
.header {
  display: flex;
  gap: var(--space-3);
  justify-content: space-between;
}
.header h1 {
  font-size: var(--fontSize-3);
  font-weight: var(--fontWeight-2);
  color: var(--text);
}
.header ul {
  display: flex;
  gap: 32px;
}
.header a {
  color: var(--text);
  font-size: 18px;
}
.landing {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-3);
}
.landing .info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--space-1);
  max-width: 700px;
}
.landing h1 {
  font-size: var(--fontSize-5);
  color: var(--text);
}
.landing p {
  color: var(--text);
  font-size: 18px;
}
.landing button {
  font-size: var(--fontSize-1);
  font-weight: var(--fontWeight-1);
  background-color: var(--primary);
}
img {
  border-radius: 8px;
  flex: 1;
}
.section_2 {
  background-color: var(--text);
  padding-block: var(--space-3) var(--space-4);
  padding-inline: clamp(var(--space-1), 12vw, 181px);
}
.section--2 .wrapper {
  gap: var(--space-2);
}
.section_2 h1 {
  display: flex;
  justify-content: center;
  font-size: var(--fontSize-4);
  color: var(--secondary);
}
.section_2 .child {
  border-radius: 8px;
  height: 140px;
  width: 140px;
}
.section_2 .box {
  font-weight: var(--fontWeight-0);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-1);
}
.section_2 .box p {
  max-width: 140px;
  text-align: center;
  color: var(--accent-white);
}
.section_2 .boxs {
  display: flex;
  gap: var(--fontSize-2);
}
.section_3 em {
  font-size: var(--fontSize-4);
  font-weight: var(--fontWeight-0);
  color: var(--accent-white);
  max-width: 800px;
  align-self: center;
}
.section_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-white);
  padding: 7em 13em;
}
.section_3 p {
  align-self: flex-end;
  font-weight: var(--fontWeight-2);

  color: var(--text-white);
}
.section_4 {
  padding-block: var(--space-3) var(--space-4);
  padding-inline: var(--space-6);
}
.section_4 .wrapper {
  max-width: 800px;
}
.cont {
  border-radius: 8px;
  padding-block: var(--space-2);
  padding-inline: var(--space-4);
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  background-color: var(--primary);
}
.cont button {
  border: 2px solid var(--text);
  color: var(--text);
  background-color: transparent;
}
strong {
  font-size: 24px;
}
.cont p {
  color: var(--text);
  font-size: 18px;
}
.cont .info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
}
.footer {
  background-color: var(--bgcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  padding: 2em 0;
}
.child_1 {
  background-color: var(--bgcolor);
}
.child_2 {
  background-color: var(--secondary);
}
.child_3 {
  background-color: var(--accent);
}
.child_4 {
  background-color: var(--primary);
}
